
    
     {% extends "base.html" %}
     
     {% block content %}
     
     
     <!-- about start -->
    <div class="container pt-5">
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="../static/sea.jpg" alt="" srcset="">
        </div>
        <div class="pt-5">
            
            <p class="text-muted text-justify">
              Tour Group Bangladesh belongs to those who have an affection for traveling. We would be delighted to provide support to those who really love to roam around, no matter where the destination is!
              Let’s discover home first & then the earth! Welcome to visit Bangladesh, a land of rivers, high lands with evergreen fields and forests, longest sea beach of the World and many more!
              Bangladesh is very promising tourism friendly place! It's not only for the exquisite nature but also for the amicable and hospitable.
            </p>
            <small class="text-muted text-justify">
              We have started our journey since 2015 as a friendly Travel group and 2017 we established it as a company to help traveler explore nature more with safety & security with the name TOUR GROUP BD (TGB)!
              <br><br>
              <span class="text-success"><b>Welcome to Tour Group BD!</b></span>
            </small>
        </div>
    </div>

    <!-- about end -->
    <br><br><br>

{% endblock content %}   
