{% extends "admin-panel.html" %}
{% block content %}

<h4>{{msg}}</h4>

<div class="container my-4">
    <form action="/edit/{{id}}" method="post">
        <h2>Update</h2>
        <h4>Palce</h4>
        <input name="tourname" type="text" placeholder="Enter your title" class="form-control" value={{tourname}}>

        <h4>Details</h4>
        <input name="cardtext" type="text" id="" cols="30" rows="10" placeholder="Describe your post" class="form-control" value={{cardtext}}>
        <br>
        <h4>Tour Date</h4>
        <input name="date" type="text" id="" cols="30" rows="10" placeholder="Describe your post" class="form-control" value={{date}}>
        <br>
        <h4>Seat</h4>
        <input name="seat" type="text" id="" cols="30" rows="10" placeholder="Describe your post" class="form-control" value={{seat}}>
        <br>
        <h4>Trip Duration</h4>
        <input name="duration" id="" type="text" cols="30" rows="10" placeholder="Describe your post" class="form-control" value={{duration}}>
        <br>
        <h4>Package Price</h4>
        <input name="price" id="" type="text" cols="30" rows="10" placeholder="Describe your post" class="form-control" value={{price}}>
        <br>
        <button type="submit" class="text-center btn btn-block btn-primary">Update</button>
    </form>

    

</div>

{% endblock content %}