
{% extends "admin-panel.html" %}
{% block content %}
      <!-- Main Content -->

<div class="container">
  <div class="card text-center">
    <h2 class="text-info my-4 text-secondary">All Payments</h2>
    <br>
    <table class="table table-stripe table-hover table-dark">
    <thead>
      <tr>
        <td>Place</td>
        <td>Participant Name</td>
        <td>Email Address</td>
        <td>Phone Number</td>
        <td>Pay Amount</td>
        <td>Transaction ID</td>
        <td>T-Shirt Size</td>
      </tr>
    </thead>
    {% for payment in payments %}
      <tr>
        <td>{{payment.tourname}} </td>
        <td>{{payment.username}} </td>
        <td>{{payment.email}} </td>
        <td>{{payment.phone}} </td>
        <td>{{payment.amount}} </td>
        <td>{{payment.transaction_id}} </td>
        <td>{{payment.t_size}} </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

   
{% endblock content %}   
